<div class="sidebar">
    <h1><img src="/img/logo.png" alt="Keen Icon">YMJ</h1>
    <ul>
        <li onclick="location.href='http://localhost:8080/'" style="cursor: pointer;">
            <img src="/img/home.svg" alt="Home Icon">home
        </li>
        <li onclick="location.href='http://localhost:8080/map'" style="cursor: pointer;">
            <img src="/img/dashboard.svg" alt="Dashboard Icon">경로 시뮬레이션
        </li>
        <li onclick="location.href='http://localhost:8080/stock'" style="cursor: pointer;">
            <img src="/img/admin.svg" alt="Admin Icon">재고관리
        </li>
        <li onclick="location.href='http://localhost:8080/vision'" style="cursor: pointer;">
            <img src="/img/admin.svg" alt="Admin Icon">상품검수
        </li>
        <li onclick="location.href='http://localhost:8080/board/'" style="cursor: pointer;">
            <img src="/img/community.svg" alt="커뮤니티 Icon">커뮤니티
        </li>
        <li onclick="location.href='http://localhost:8080/admin/'" style="cursor: pointer;">
            <img src="/img/admin.svg" alt="Admin Icon">admin
        </li>

    </ul>
    <button class="logout-button" onclick="location.href='http://localhost:8080/public/login/'">Log Out</button>
</div>
