<div class="sidebar">
    <h1><img src="/img/logo.png" alt="Keen Icon">YMJ</h1>
    <ul>
        <li onclick="location.href='http://localhost:8080/'" style="cursor: pointer;">
            <img src="/img/home.svg" alt="Home Icon">home
        </li>
        <li onclick="location.href='http://localhost:8080/map'" style="cursor: pointer;">
            <img src="/img/dashboard.svg" alt="Dashboard Icon">경로 시뮬레이션
        </li>
        <li onclick="location.href='http://localhost:8080/stock'" style="cursor: pointer;">
            <img src="/img/admin.svg" alt="Admin Icon">재고관리
        </li>
        <li onclick="location.href='http://localhost:8080/vision'" style="cursor: pointer;">
            <img src="/img/admin.svg" alt="Admin Icon">상품검수
        </li>
        <li onclick="location.href='http://localhost:8080/board/'" style="cursor: pointer;">
            <img src="/img/community.svg" alt="커뮤니티 Icon">커뮤니티
        </li>
        <li onclick="location.href='http://localhost:8080/admin/'" style="cursor: pointer;">
            <img src="/img/admin.svg" alt="Admin Icon">admin
        </li>

    </ul>
    <button class="logout-button" id="logoutButton">
        <img src="/img/logout.svg" alt="logout-Icon">
    </button>
</div>
<script>
    const logoutBtn = document.getElementById('logoutButton');

    logoutBtn.addEventListener('click', async () => {
        try {
            // 로그아웃 요청 전송
            const response = await fetch('/api/v1/auth/logout', {
                method: 'GET',
                credentials: 'include' // 쿠키를 함께 전송
            });

            if (response.ok) {

                alert('로그아웃 되었습니다.');
                // 로그아웃 후 로그인 페이지로 이동
                location.href = '/public/login';
            } else {
                alert('로그아웃에 실패했습니다. 다시 시도해주세요.');
            }
        } catch (error) {
            console.error('Error during logout:', error);
            alert('로그아웃 중 오류가 발생했습니다.');
        }
    });
</script>
