<div class="content">
    <h1>Inspect Page</h1>
    <p>This is the Inspect page.</p>

    <!-- 이미지 업로드 폼 -->
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="imageInput" name="file" accept="image/*">
        <button type="submit">업로드</button>
    </form>

    <!-- 업로드된 이미지 및 탐지 결과 표시 -->
    <div id="result">
        <h3>탐지된 객체:</h3>
        <ul id="detections"></ul>
        <img id="uploadedImage" src="" alt="Uploaded Image" style="display: none; width: 400px;">
    </div>
</div>
<!-- CSS 추가 위치 -->
<link rel="stylesheet" href="/css/headerstyles.css">
<link rel="stylesheet" href="/css/sidebarstyles.css">

<!-- JavaScript 파일 추가 -->
<script src="/js/imageUpload.js"></script>

{{> common/sidebar}}
{{> common/footer}}
{{> common/header}}
