<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/sidebarstyles.css">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToN6rGBKZ8gWNkbzrZ_-LjRvPLFxcAJUqYog&s') !important;
            background-size: cover; /* 이미지가 화면 전체를 덮도록 설정 */
            background-repeat: no-repeat; /* 이미지 반복 방지 */
            background-position: center; /* 이미지를 화면 중앙에 위치 */
        }
    </style>
</head>
<body>
<!-- 헤더 포함 -->
{{> common/header}}
{{> common/sidebar}}

<!-- 푸터 포함 -->
{{> common/footer}}
</body>
</html>
